.row{
font-family: 'Lato', sans-serif;
flex-direction:row;
justify-content: space-around;
}
.column1{
    float: left;
    width: 25%;
    height: 150px;
    padding: 5px;;
}
.column2{
    display:flex;
    font-family: 'Lato', sans-serif;
    flex-direction:column;
}